@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hedvig+Letters+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hedvig+Letters+Sans&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hedvig+Letters+Sans&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	overflow: visible;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	background-color: rgba(40, 40, 40, 0.95);
}

.hero {
	position: relative;
	display: flex;
	height: 100vh;
	width: 100%;
	z-index: 999;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Playfair Display", serif;
}

.canvas {
	background: #0c0c0c;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}
#starLink {
	width: 100%;
	height: 100%;
}

.heading {
	position: relative;
	display: flex;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	align-items: center;
	line-height: normal;
	width: fit-content;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: #fafafa;
	font-weight: 300;
	z-index: 999;
	font-size: 4.4rem;
}

.heading-1 span {
	color: var(--main-red);
	font-family: "Playfair Display", serif;
}

.btn {
	width: 13rem;
	padding: 4px;
	margin-top: 25px;
	background-color: rgba(26, 26, 26, 0.6);
	border: 2px solid var(--main-red);
	border-radius: 2px;
	border-radius: 4px;
	cursor: pointer;
	z-index: -1;
}

.btn a {
	text-decoration: none;
	color: var(--main-red);
	font-size: 28px;
}

.btn img {
	margin-left: 8px; /* Adds some space between the text and the image */
	width: 32px; /* Adjusts the size of the image */
	height: 22px; /* Ensures the image is square */
}

/* NAV BAR */

.header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 9px;
	font-size: 25px;
	background-color: #1a1a1a;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #1a1a1a;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	height: 4rem;
	z-index: 99999999;
	overflow-x: hidden;
	align-items: center;
}

.nav-items {
	display: inline-block;
	color: var(--main-red);
	text-decoration: none;
}

.nav-items a {
	color: white;
	text-decoration: none;
	margin-left: 60px;
}

/* header color */

.nav-items a.active {
	color: var(--main-red);
}

.list-container {
	display: flex;
	list-style: none;
}

/* content */

.content {
	position: relative;
}
.spaceCanvas {
	background: #0c0c0c;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
}

#spaceCanvas {
	width: 100%;
	height: 100%;
}

/* ABOUT SECTION */

.about {
	height: fit-content;
	text-align: center;
	position: relative;
	z-index: 999;
}

.about-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin: 50px 200px 50px 400px;
	gap: 116px;
	color: white;
	border-radius: 2px;
	overflow: hidden;
}

.image img {
	width: 17rem;
}

.about-info {
	line-height: 25px;
}

.about-info h3 {
	text-align: start;
	padding: 10px 0;
	font-weight: 700;
}

.about-info p {
	color: white;
	text-wrap: wrap;
	word-break: break-word;
	text-align: start;
	font-size: 18px;
}

/* section for skills */

#skills {
	text-align: center;
	color: white;
	width: 100%;
	height: fit-content;
	height: auto;
	position: relative;
	z-index: 999;
}

.skill-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.skill-name {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: var(--skill-font);
}

.skill-name img {
	font-size: var(--skill-font);
	width: 30px;
}

.skill-bar {
	background-color: var(--main-red);
	height: 5px;
	border-radius: 0.5rem;
	right: 0;
	margin: 10px 0;
	width: 30vw;
}

.skill-data {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Project Section */

#project {
	position: relative;
	z-index: 999;
	text-align: center;
	height: auto;
}

.project-container {
	margin: 0 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
	margin-top: 5rem;
}

.project-img {
	/* border: 1px solid blue; */
	width: 40vw;
	height: 22rem;
	border-radius: 12px;
	display: block;
	overflow: hidden;
}
.project-img img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.project-img:hover img {
	transform: scale(1.1); /* Zoom in effect on hover */
}

.project-info {
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: start;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.project-heading h2 {
	font-size: 2.5em;
}

.project-description {
	margin-top: 2rem;
}
.project-description p {
	text-align: start;
}
.project-btn a {
	text-decoration: none;
}

.project-btn button {
	position: relative;
	display: block;
	height: 3rem;
	width: 10rem;
	margin: 10px 7px;
	padding: 5px 5px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	border-bottom: 2px var(--main-red) solid;
	border-top: none;
	border-left: none;
	border-right: none;
	/* border-radius: 4px; */
	text-transform: uppercase;
	outline: 0;
	overflow: hidden;
	background: none;
	z-index: 1;
	cursor: pointer;
	transition: 0.08s ease-in;
	-o-transition: 0.08s ease-in;
	-ms-transition: 0.08s ease-in;
	-moz-transition: 0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
}

.fill:hover {
	color: black;
}

.fill:before {
	content: "";
	position: absolute;
	background: var(--main-red);
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	-webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
	top: 0;
}

/* Contact Form */

#contact {
	width: fit-content;
	position: relative;
	z-index: 999;
	text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
}

.input-name,
.input-email,
.message {
	width: 30vw;
	resize: none;
	border: none;
	color: inherit;
	background-color: #282828;
	font-size: 1.1rem;
	font-family: monserrat, sans-serif;
	border-left: 2px solid transparent;
	border-radius: 0;
}

.input-name,
.input-email {
	margin-bottom: 6px;
	padding: 1rem;
	height: 3rem;
}

.message {
	height: 12rem;
	padding: 1rem;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
}
.send {
	align-self: flex-end;
	position: relative;
	display: block;
	height: 2.2rem;
	width: 7rem;
	margin: 10px 7px;
	padding: 5px 5px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	border-bottom: 2px var(--main-red) solid;
	border-top: none;
	border-left: none;
	border-right: none;
	/* border-radius: 4px; */
	text-transform: uppercase;
	outline: 0;
	overflow: hidden;
	background: none;
	z-index: 1;
	cursor: pointer;
	transition: 0.08s ease-in;
	-o-transition: 0.08s ease-in;
	-ms-transition: 0.08s ease-in;
	-moz-transition: 0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
}

/* footer */

footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 160px;
	background-color: #282828;
	margin-top: 20px;
}

.return-home {
	position: absolute;
	top: -25px;
	width: 49px;
	height: 49px;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #ff4d5a;
	border-radius: 10px;
}

.return-home img {
	width: 50px;
}

.return-home:hover {
	animation-name: moveBottom;
	animation-duration: 1.2s;
	animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
	animation-iteration-count: infinite; /* Animation repeats infinitely */
}

.footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -30px;
	margin-top: 35px;
}

.footer-socials a {
	margin-left: 30px;
}

#copyright {
	color: white;
	margin-top: 20px;
}
